* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #4c290c;
    overflow: hidden;
}

/* Styles pour l'image de fond */
.background-image {
    background-image: url('./img/ILLEGO-SITE-VFINAL.jpeg');
    background-size: cover;
    /* Ajuster la taille pour remplir la hauteur */
    background-position: 0px;
    /* Centrer l'image horizontalement */
    height: 100vh;
    /* Prend toute la hauteur de la page */
    overflow-x: hidden;
    /* Masquer le défilement horizontal */
    position: relative;
    background-repeat: no-repeat;
    /* Position relative pour que les boutons fonctionnent */
    /* transition: background-position 0.3s ease; */
}

/* Styles pour les boutons de défilement */
.scroll-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

#scroll-left {
    margin-left: 10px;
    border: none;
}

#scroll-right {
    margin-right: 10px;
    border: none;
}

#scroll-left img, #scroll-right img{
    width: 26px;
}

button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#shop-button{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    border: 2px solid white;
    color: #FFF;
    text-decoration: none;
    bottom: 20%;
    padding: 15px 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

#shop-button:hover{
    background-color: #FFF;
    color: #4c290c;
}

.bullet-dotted{
    position: absolute;
    transition: all 0.1s;
}

.bullet-dotted img{
    width: 20px;
}

#freakey-button{
    text-decoration: none;
    /*top: 23.3%;*/
    top: 235px;
    left: 933px;
    /*left: 48.2%;*/
}

#illego-button{
    text-decoration: none;
    top: 48%;
    left: 15.8%;
}