@keyframes float {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #4c290c;
    overflow: hidden;
}

/* -------------------------------------------------- */

/* Styles pour l'image de fond */

.background-image {
    background-image: url('./img/ILLEGO-SITE-VFINAL.jpeg');
    background-size: cover;
    background-position: 0px;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-repeat: no-repeat;
}

/* -------------------------------------------------- */

/* Styles pour les boutons de défilement */

.scroll-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.scroll-buttons button.pushed {
    transform: scale(0.9);
}

#scroll-left {
    margin-left: 10px;
    border: none;
}

#scroll-right {
    margin-right: 10px;
    border: none;
}

.scroll-buttons img{
    width: 26px;
}

/* -------------------------------------------------- */

/* Style du bouton SHOP */

button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#shop-button{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    border: 2px solid white;
    color: #FFF;
    text-decoration: none;
    bottom: 20%;
    padding: 15px 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    animation: float 3s infinite;
}

#shop-button:hover{
    background-color: #FFF;
    color: #4c290c;
}

/* --------------------------------------------------- */

/* Style des BULLETS */

.bullet-button{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 999;
    /*transition: all 0.1s;*/
}

.background-image .bullet-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* .background-image .bullet-button.active{
    transform: scale(1.1);
} */

.bullet-button img{
    width: 100%;
}

/* --------------------------------------------------- */

/* Liens des BULLETS */

.bullet-link{
    position: absolute;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
    border: 1px solid white;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.bullet-link.active{
    visibility: visible;
    opacity: 1;
}

.bullet-link:hover{
    border: 1.5px solid white;
}

.bullet-line{
    position: absolute;
    border-top: 1px dashed white;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.bullet-line.active{
    opacity: 1;
    visibility: visible;
}

#freakey-line{
    width: 130px;
    transform: rotate(55deg);
}

#illego-line{
    width: 129px;
    transform: rotate(-44deg);
}


/* --------------------------------------------------- */

@media screen and (max-width: 768px) {
    #shop-button {
        bottom: 12%;
    }

    .scroll-buttons {
        top: 85%;
    }

    #scroll-left {
        margin-left: 15px;
    }
    
    #scroll-right {
        margin-right: 15px;
    }
}